body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#signature-output {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signature {
    font-family: Arial, sans-serif;
}

.signature .name-title {
    font-size: 12px;
    color: black;
}

.signature .name-title .name {
    font-weight: bold;
}

.signature .department {
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(170, 0, 0);
}

.signature .pronouns {
    font-size: 10px;
    color: black;
}

.signature .address,
.signature .phone {
    font-size: 10px;
    color: black;
}

.signature .spacer {
    margin-top: 6.5px;
}